*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header{
  
} 

.struct-header{
  max-width: 1200px;
  margin: 0 auto;
}

.first-block{
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-block{
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-block{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-block{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sixth-block{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container{
  min-width: 1200px;
  margin: 10px;
}

.container-bg-pink{
  min-width: 980px;
  margin: 10px;
  background-color: pink;
}

.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1{
  flex-basis: 100%;
  min-height: 200px;
}

.col-3{
  flex-basis: calc(100% / 3);
}

.col-4{
  flex-basis: calc(100% / 4);
  display: flex;
  justify-content: center;
}

.col-2{
  flex-basis: calc(100% / 2);
  display: flex;
  justify-content: center;
}

.col-75{
  flex-basis: 75%;
}

.col-25{
  flex-basis: calc(100% / 4);
}

.col-second-block{
  border: 2px dotted black;
}

.col-1-fifth{
  flex-basis: 100%;
  min-height: 400px;
}

.col-32{
  flex-basis: calc(100% / 3);
}

.col-16{
  flex-basis: calc(100% / 6);
}


/* DEBUG */

.debug .page-header,
.debug .page-footer{
  padding: 20px;
  background-color: cornflowerblue;
  min-height: 200px;
}

.debug .main-content{
  margin: 10px;
}

.debug .container{
  padding: 10px;
}

/*.debug .struct-header{
  min-height: 100px;
  padding: 10px;
  background-color: yellowgreen;
  border: 2px solid black;
}*/

.debug .col-3{
  min-height: 100px;
  padding: 10px;
  border: 2px solid cornflowerblue;
  color: white;
  font-weight: 700;
}

.debug .col-75{
  min-height: 200px;
  padding: 10px;
  background-color: cadetblue;
  border: 2px dotted black;
}

.debug .col-25{
  min-height: 200px;
  padding: 10px;
  background-color: pink;
  border: 2px dotted black;
}

/*.debug .row-header{
  padding: 10px;
  border: 2px solid violet;
}*/

.debug .col-header{
  min-height: 15px;
  padding: 10px;
  background-color: rgb(155, 155, 57);
  border: 2px dotted black;
  color: white;
  font-weight: 700;
}

.debug .col-1-fifth{
  min-height: 400px;
  padding: 10px;
  background-color: pink;
  border: 2px dotted black;
}

.debug .col-32{
  min-height: 400px;
  padding: 10px;
  background-color: pink;
  border: 2px dotted black;
}

.debug .col-16{
  min-height: 400px;
  padding: 10px;
  background-color: cadetblue;
  border: 2px dotted black;
}